<!doctype html>
<html>
  <head>
    <title>RESULTS!!!</title>
  </head>
  <body>
    <h1>Go Get Your Fortune Ese</h1>
    <h3>Hi, <%=@the_user%>, your fortune is, <%=@the_fortune%> </h3>
    <img src = "https://media.giphy.com/media/31SqqUbd0AgdBMhFi9/giphy.gif">
  </body>
</html>